<div class="row justify-content-center">
    <div>
      <img src="../../assets/images/Grilled-Chicken-Caesar-Salad-550x393.jpg" class="imgSizeCtrlForCc" />
      <h4 class="textSizeCtrlForCc divForText">CHICKEN CAESAR SALAD</h4>
      <p class="textSizeCtrlForCc divForText">Romaine, All-Natural Chicken, Croutons, Parmesan Cheese, Caesar Dressing</p>
    </div>

    <div>
      <img src="../../assets/images/Greek-Salad-500x500.jpg" class="imgSizeCtrlForGs" />
      <h4 class="textSizeCtrlForGs divForText">GREEK SALAD</h4>
      <p class="textSizeCtrlForGs divForText">Romaine, Cucumbers, Grape Tomatoes, Red Onions, Black Olives, Feta Cheese, Greek Dressing</p>
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="textSizeCtrlForByoHe divForText">
        <h4>BUILD YOUR OWN SALAD</h4>
    </div>
      <div class="textSizeCtrlForByo divForText">
          <h4>GREENS</h4>
          <p>
              Romaine Hearts • Spinach
          </p>

          <h4>CHEESES</h4>
          <p>
              Gorgonzola • Mozzarella • Ricotta • Grated Parmesan • Feta
          </p>

          <h4>FRESH PRODUCE</h4>
          <p>
              Artichokes • Black Olives • Grape Tomatoes • Green Peppers • Cucumbers • Jalapenos • Mushrooms • Pineapple • Red Onion • Roasted Red Pepper • Garlic • Broccoli • Sliced Tomatoes
          </p>

      </div>

      <div class="textSizeCtrlForByo divForText">
          <h4>MEATS</h4>
          <p>
              Bacon • Canadian Bacon • All-Natural Chicken • All-Natural Spicy Chicken • Meatball • Pepperoni • Sausage • Spicy Sausage
          </p>

          <h4>TOP IT OFF</h4>
          <p>
              Black Pepper • Croutons • Dried Cranberries • Oregano • Red Pepper Flakes • Sea Salt
          </p>

          <h4>DRESSINGS</h4>
          <p>
              Caesar Dressing • Creamy Italian Dressing • Olive Oil & Vinegar Dressing • Ranch Dressing • Greek Dressing
          </p>
      </div>
    </div>

  <!-- <div class="byoText divForText">
      <h4>Build Your Own Salad</h4>
      <h4>GREENS</h4>
      <p>
          Romaine Hearts • Spinach
      </p>

      <h4>CHEESES</h4>
      <p>
          Gorgonzola • Mozzarella • Ricotta • Grated Parmesan • Feta
      </p>

      <h4>FRESH PRODUCE</h4>
      <p>
          Artichokes • Black Olives • Grape Tomatoes • Green Peppers • Cucumbers • Jalapenos • Mushrooms • Pineapple • Red Onion • Roasted Red Pepper • Garlic • Broccoli • Sliced Tomatoes
      </p>

      <h4>MEATS</h4>
      <p>
          Bacon • Canadian Bacon • All-Natural Chicken • All-Natural Spicy Chicken • Meatball • Pepperoni • Sausage • Spicy Sausage
      </p>

      <h4>TOP IT OFF</h4>
      <p>
          Black Pepper • Croutons • Dried Cranberries • Oregano • Red Pepper Flakes • Sea Salt
      </p>

      <h4>DRESSINGS</h4>
      <p>
          Caesar Dressing • Creamy Italian Dressing • Olive Oil & Vinegar Dressing • Ranch Dressing • Greek Dressing
      </p>
  </div> -->
