<div class="container">
  <!-- pickup-location -->

  <table style="width:100%">
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
      <th>Action</th>
      <!-- change pickup to location?
      change time (est) to time or time (est/edt)? -->
    </tr>
    <tr *ngFor="let pastOrder of pastOrders">
      <td>{{ pastOrder.ordered_at | date: 'mediumDate' }}</td>
      <!-- displayDate(pastOrder) -->
      <!-- *ngIf="isDstObserved(pastOrder.ordered_at)" -->
      <!-- *ngIf="!isDstObserved(pastOrder.ordered_at)" -->
      <td>{{ pastOrder.ordered_at | date: 'mediumTime' }}</td>
      <!-- datepipe uses local timezone by default, will just use this -->

      <!-- : 'EDT' -->
      <!-- <td>{{ pastOrder.ordered_at | date: 'mediumTime'}}</td> -->
      <!-- : 'EST' -->
      <!-- displayTime(pastOrder) -->
      <td>{{ pastOrder.location }}</td>
      <!-- {{ pastOrder.ordered_at }} -->
      <td><a [routerLink]="['/order-online/past-order-detail', pastOrder.id]">View Order</a></td>
    </tr>

    <!-- <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr> -->
  </table>

  <!-- date time pickup-location view-order -->
  <!-- reorder entire thing in detail page, user can change the details once in the cart page -->

</div>
