<!-- <div class="row justify-content-center">
  <div>
    <img src="../../assets/images/Pizza-Oven-With-Freshly-Baked-Pizza-Taken-Out-Of-Oven.jpg" />
  </div>

  <div class="textSizeCtrlForTe divForText">
    <p>Hello! We opened our first pizza store in 2011. We serve neapolitan style pizza in a fast casual environment. Hope you will enjoy our pizza!</p>
  </div>
</div> -->

<!-- <div class="text-center">
  <p>Hello! We opened our first pizza store in 2011. We serve neapolitan style pizza in a fast casual environment. Hope you will enjoy our pizza!</p>
</div> -->

<!-- textSizeCtrlForTe divForText -->


<span class="page-text">
  <h1 class="title">
    Hello!
  </h1>
  <h2>
    We opened our first pizza store in 2011. We serve neapolitan style pizza in a fast casual environment. Hope you will enjoy our pizza!
  </h2>
  <!-- <h5>
    If you were in the checkout process, please make sure to enter the correct information (credit card number, email address...) and try again.<br>
    If you were visiting a specific page, please revisit the page for reload.<br>
    If the error still persists, plese send an email to woyoo@umich.edu. Sorry for the inconvenience.
  </h5> -->
</span>
