<agm-map [latitude]='location2.lat' [longitude]='location2.lng' [zoom]='13'>
  <agm-marker [latitude]='location1.lat' [longitude]='location1.lng'>
    <agm-info-window>
      <br>
      <p><b>Midtown</b></p>
      <p>31 W 46th St<p>
      <p>New York, NY 10036<p>
    </agm-info-window>
  </agm-marker>
  <agm-marker [latitude]='location2.lat' [longitude]='location2.lng'>
    <agm-info-window>
      <br>
      <p><b>Chelsea</b></p>
      <p>601 6th Ave<p>
      <p>New York, NY 10011<p>
    </agm-info-window>
  </agm-marker>
  <agm-marker [latitude]='location3.lat' [longitude]='location3.lng'>
    <agm-info-window>
      <br>
      <p><b>East Village</b></p>
      <p>32 St Marks Pl<p>
      <p>New York, NY 10003<p>
    </agm-info-window>
  </agm-marker>
</agm-map>
