<div style="margin-top: 200px; text-align: center; font-size: 26px; font-weight: 700;">
  Thank You!
</div>
<div style="text-align: center; font-size: 14px;">
  Please check your email. We've emailed you an order confirmation email.<br>
  Your order will be ready within 30 minutes. Please say your name and phone number to the cashier to pickup your order. Enjoy!
</div>
<div style="text-align: center;">
  <a class="btn btn-outline-success" href="#" [routerLink]="['/home']" role="button">Go to Home Page</a>
</div>

