<div style="margin-top: 200px; text-align: center; font-size: 26px; font-weight: 700;">
  Thank You!
</div>
<div style="text-align: center; font-size: 14px;">
  Please check your email. We've emailed you an order confirmation email.<br>
  Your order will be ready within 30 minutes. Please say your name and phone number to the cashier to pickup your order. Enjoy!
</div>
<div style="text-align: center; margin-top: 10px">
  <button type="button" class="btn btn-outline-success" (click)="homePageLink()">Go to Home Page</button>
  <!-- routerlink not worked here, move 'thank-you' and its routing to app module? or move the 'thank-you' routing under '/order-online'?
  if moving 'thank-you' routing works, do the same for 'checkout'? -->
</div>

