<div style="margin-top: 200px; text-align: center; font-size: 26px; font-weight: 700;">
  Thank You!
</div>
<div style="text-align: center; font-size: 14px;">
  Please check your email. We've emailed you an order confirmation email.<br>
  Your order will be ready after 30 minutes. Please say your name and phone number to the cashier to pickup your order. Enjoy!<br>
  (The last order for the kitchen is 12:30 am, and the last pickup time is 1 am. Orders between 12:31 am and 1 am
  will be ready for pickup when the store reopens at 11 am.)
</div>
<div style="text-align: center; margin-top: 10px">
  <button type="button" class="btn btn-outline-success" (click)="homePageLink()">Go to Home Page</button>
</div>

