.fieldset {
  text-align: center;
}

.ul-for-choice {
  font-size: 12px;
  padding: 5px 10px;
  clear: both;
}

.li-for-choice {
  list-style: none;
  width: 230px;
  height: auto;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  border: 2px solid #ba5a32;
  margin: 7px 4px;
  min-height: 42px;
  padding-left: 7px;
  cursor: pointer;
}

.label-for-choice {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 5px 0 5px 10px;
  margin-bottom: 0;
  cursor: pointer;
}

.quantity-box {
  text-align: right;
}

.quantity-input {
  width: 50px
}
