<div class="container">
  <div class="row">
    <div class="col-8">
      <div>
        <p>Location: Choose one</p>
        <p>Pickup Hours: Open today 11am - 2pm</p>
        <p>Accepted Cards: Mastercard, Visa, American Express, Discover</p>
      </div>
      <div>
        <div class="col-4">
          <ul class="nav flex-column" style="float: left;">
            <li class="nav-item">
              <a class="nav-link active" href="#">Build Your Own</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Specialty Pizzas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Salads</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Drinks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Desserts</a>
            </li>
          </ul>
        </div>

        <!-- style="width: 500px" -->
        <div class="col-8">
          <ul class="nav flex-column">
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('byo')">
                <img src="../../assets/images/1954163.jpg" class="img-for-item-bar" />
                <span class="empty-link-text">Build Your Own</span>
              </a>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('specialty')">
                <img src="../../assets/images/margherita.png" class="img-for-item-bar" />
                <span class="empty-link-text">CLASSIC MARGHERITA</span>
              </a>
              <p>
                Marinara, extra virgin olive oil, fresh mozzarella, fresh basil, and
                oregano.
              </p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('specialty')">
                <img src="../../assets/images/new-yorker.png" class="img-for-item-bar" />
                <span class="empty-link-text">CLASSIC NEW YORKER</span>
              </a>
              <p>
                Marinara, shredded mozzarella, and oregano.
              </p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('specialty')">
                <img src="../../assets/images/tony-pepperoni.png" class="img-for-item-bar" />
                <span class="empty-link-text">TONY PEPPERONI</span>
              </a>
              <p>
                Marinara, shredded mozzarella, pepperoni, and oregano.
              </p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('specialty')">
                <img src="../../assets/images/johnny-the-meatball.png" class="img-for-item-bar" />
                <span class="empty-link-text">JOHNNY THE MEATBALL</span>
              </a>
              <p>Marinara, shredded mozzarella, and crumbled meatballs.</p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('specialty')">
                <img src="../../assets/images/4-cheese.png" class="img-for-item-bar" />
                <span class="empty-link-text">QUATTRO FORMAGGIO</span>
              </a>
              <p>Marinara, mozzarella, Asiago, Parmesan, ricotta, and oregano.</p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('specialty')">
                <img src="../../assets/images/buffalo-chicken.png" class="img-for-item-bar" />
                <span class="empty-link-text">BUFFALO CHICKEN</span></a>
              <p>
                Buffalo sauce, shredded mozzarella, blue cheese chunks, and grilled
                chicken.
              </p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('specialty')">
                <img src="../../assets/images/tascan.png" class="img-for-item-bar" />
                <span class="empty-link-text">TUSCAN CHICKEN</span>
              </a>
              <p>
                Shredded mozzarella, asiago, chicken, spinach, and marinated
                balsamic sun dried tomatoes.
              </p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('specialty')">
                <img src="../../assets/images/white-out1.png" class="img-for-item-bar" />
                <span class="empty-link-text">THE WHITE OUT</span>
              </a>
              <p>
                Extra virgin olive oil, shredded mozzarella, parmesan, fresh
                mushrooms, and garlic.
              </p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('specialty')">
                <img src="../../assets/images/h-fire.png" class="img-for-item-bar" />
                <span class="empty-link-text">HAWAIIAN FIRE</span>
              </a>
              <p>
                Spicy sriracha marinara, shredded mozzarella, Canadian bacon, banana
                peppers, and pineapple.
              </p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('specialty')">
                <img src="../../assets/images/the-philly.png" class="img-for-item-bar" />
                <span class="empty-link-text">THE PHILLY</span>
              </a>
              <p>Balsamic onions, mozzarella, and thinly sliced rib-eye.</p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('specialty')">
                <img src="../../assets/images/smoky-pollo.png" class="img-for-item-bar" />
                <span class="empty-link-text">SMOKEY POLLO</span>
              </a>
              <p>
                Sweet and Smokey Bourbon Barbecue Sauce, Roasted Chicken, Bacon, Red
                Onion, Red Peppers, Pineapple, Shredded Mozzarella & Blue cheese.
              </p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('specialty')">
                <img src="../../assets/images/sausage-peppers1.png" class="img-for-item-bar" />
                <span class="empty-link-text">SAUSAGE & PEPPERS</span>
              </a>
              <p>
                Marinara, shredded mozzarella, Italian sausage, red and green
                peppers, and red onions.
              </p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('specialty')">
                <pizza-modal></pizza-modal>
                <img src="../../assets/images/trenton-tomato-pie.png" class="img-for-item-bar" />
                <span class="empty-link-text">TRENTON TOMATO PIE</span>
              </a>
              <p>
                Marinara generously spread on top of shredded mozzarella, and
                oregano.
              </p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active empty-link" (click)="openPizza('specialty')">
                <img src="../../assets/images/meatza1.png" class="img-for-item-bar" />
                <span class="empty-link-text">THE MEATZA</span>
              </a>
              <p>
                Marinara, mozzarella, pepperoni, bacon, Italian sausage, and
                crumbled meatballs.
              </p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active" href="#">
                <img src="../../assets/images/Grilled-Chicken-Caesar-Salad-550x393.jpg" class="img-for-item-bar" />
                <span>CHICKEN CAESAR SALAD</span>
              </a>
              <p class="textSizeCtrlForCc divForText">Romaine, All-Natural Chicken, Croutons, Parmesan Cheese, Caesar
                Dressing</p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active" href="#">
                <img src="../../assets/images/Greek-Salad-500x500.jpg" class="img-for-item-bar" />
                <span>GREEK SALAD</span>
              </a>
              <p class="textSizeCtrlForGs divForText">Romaine, Cucumbers, Grape Tomatoes, Red Onions, Black Olives, Feta
                Cheese, Greek Dressing</p>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active" href="#">
                <img src="../../assets/images/images.jpeg" class="img-for-item-bar" />
                <span>BUILD YOUR OWN SALAD</span>
              </a>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active" href="#">
                <img src="../../assets/images/fdrink-min.jpg" class="img-for-item-bar" />
                <span>FOUNTAIN DRINKS</span>
              </a>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active" href="#">
                <img src="../../assets/images/sparkling-water-izze-juice.jpg" class="img-for-item-bar" />
                <span>IZZE GLASS BOTTLES</span>
              </a>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active" href="#">
                <img src="../../assets/images/resized-ew_1l_vert_onwhite_color_fulllabel_digital_t118.jpg"
                  class="img-for-item-bar" />
                <span>BOTTLED WATER</span>
              </a>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active" href="#">
                <img src="../../assets/images/146208lrg.jpg" class="img-for-item-bar" />
                <span>COOKIES</span>
              </a>
            </li>
            <li class="nav-item item-bar">
              <a class="nav-link active" href="#">
                <img src="../../assets/images/coconut-flour-brownies-2.jpg" class="img-for-item-bar" />
                <span>BROWNIES</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      style="width: 258px; height: 307px; padding: 14px; border: 1px solid #ccc; background-color: #487a32; color: #fff;">
      <div *ngIf="modalComponent.cartItems[0] != null">
        <div *ngFor="let item of modalComponent.cartItems">
          <div *ngIf="(item | json) != '{}'">
              <div *ngFor="let subitem of item">
              <p>subitem</p>
              </div>

          </div>
        </div>
        <p>{{ modalComponent.cartItems[0].size }}</p>
        <p>{{ modalComponent.cartItems[0].crust }}</p>
        <p>{{ modalComponent.cartItems[0].sauce }}</p>
        <p>{{ modalComponent.cartItems[0].cheese }}</p>
        <p>{{ modalComponent.cartItems[0].veggies }}</p>
        <p>{{ modalComponent.cartItems[0].meats }}</p>
        <p>{{ modalComponent.cartItems[0].finishes }}</p>
      </div>
    </div>
  </div>
</div>
