<div class="container">
  <div class="row">
    <div class="col-8">
      <div>
        <p>Pickup Hours: Open today 11am - 2pm</p>
        <p>Accepted Cards: Mastercard, Visa, American Express, Discover</p>
      </div>
      <div>
        <div class="col-4">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Build Your Own</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Specialty Pizzas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Salads</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Drinks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Desserts</a>
            </li>
          </ul>
        </div>
        <div class="col-8">
          <p>menu</p>
        </div>
      </div>
    </div>
    <div class="col-4" style="height: 280px; border: 1px solid #ccc; background-color: #487a32; color: #fff;">col-4
    </div>
  </div>
</div>
