<div class="container">
  <div class="location-menu">
    <div>
      <p>Location: Choose one</p>
      <p>Pickup Hours: Open today 11am - 2pm</p>
      <p>Accepted Cards: Mastercard, Visa, American Express, Discover</p>
    </div>
    <div class="menu-area">

      <ul class="nav flex-column category-list">
        <li class="nav-item">
          <a class="nav-link active empty-link" (click)="clickedVerticalNavbar('Build Your Own Pizza')">
            <span class="empty-link-text">Build Your Own</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active empty-link" (click)="clickedVerticalNavbar('Specialty Pizzas')">
            <span class="empty-link-text">Specialty Pizzas</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active empty-link" (click)="clickedVerticalNavbar('Salads')">
            <span class="empty-link-text">Salads</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active empty-link" (click)="clickedVerticalNavbar('Drinks')">
            <span class="empty-link-text">Drinks</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active empty-link" (click)="clickedVerticalNavbar('Desserts')">
            <span class="empty-link-text">Desserts</span>
          </a>
        </li>
      </ul>


      <pizza-modal></pizza-modal>
      <salad-modal></salad-modal>
      <drink-modal></drink-modal>
      <dessert-modal></dessert-modal>

      <div class="product-list">
        <ul class="nav flex-column">
          <li *ngIf="clickedMenu=='Build Your Own Pizza'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('BUILD YOUR OWN PIZZA')">
              <img src="../../assets/images/1954163.jpg" class="img-for-item-bar" />
              <span class="empty-link-text">BUILD YOUR OWN PIZZA</span>
            </a>
          </li>
          <li *ngIf="clickedMenu=='Specialty Pizzas'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('CLASSIC MARGHERITA')">
              <img src="../../assets/images/margherita.png" class="img-for-item-bar" />
              <span class="empty-link-text">CLASSIC MARGHERITA</span>
            </a>
            <p>
              Marinara, extra virgin olive oil, fresh mozzarella, fresh basil, and
              oregano.
            </p>
          </li>
          <li *ngIf="clickedMenu=='Specialty Pizzas'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('CLASSIC NEW YORKER')">
              <img src="../../assets/images/new-yorker.png" class="img-for-item-bar" />
              <span class="empty-link-text">CLASSIC NEW YORKER</span>
            </a>
            <p>
              Marinara, shredded mozzarella, and oregano.
            </p>
          </li>
          <li *ngIf="clickedMenu=='Specialty Pizzas'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('TONY PEPPERONI')">
              <img src="../../assets/images/tony-pepperoni.png" class="img-for-item-bar" />
              <span class="empty-link-text">TONY PEPPERONI</span>
            </a>
            <p>
              Marinara, shredded mozzarella, pepperoni, and oregano.
            </p>
          </li>
          <li *ngIf="clickedMenu=='Specialty Pizzas'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('JOHNNY THE MEATBALL')">
              <img src="../../assets/images/johnny-the-meatball.png" class="img-for-item-bar" />
              <span class="empty-link-text">JOHNNY THE MEATBALL</span>
            </a>
            <p>Marinara, shredded mozzarella, and crumbled meatballs.</p>
          </li>
          <li *ngIf="clickedMenu=='Specialty Pizzas'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('QUATTRO FORMAGGIO')">
              <img src="../../assets/images/4-cheese.png" class="img-for-item-bar" />
              <span class="empty-link-text">QUATTRO FORMAGGIO</span>
            </a>
            <p>Marinara, mozzarella, Asiago, Parmesan, ricotta, and oregano.</p>
          </li>
          <li *ngIf="clickedMenu=='Specialty Pizzas'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('BUFFALO CHICKEN')">
              <img src="../../assets/images/buffalo-chicken.png" class="img-for-item-bar" />
              <span class="empty-link-text">BUFFALO CHICKEN</span></a>
            <p>
              Buffalo sauce, shredded mozzarella, blue cheese chunks, and grilled
              chicken.
            </p>
          </li>
          <li *ngIf="clickedMenu=='Specialty Pizzas'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('TUSCAN CHICKEN')">
              <img src="../../assets/images/tascan.png" class="img-for-item-bar" />
              <span class="empty-link-text">TUSCAN CHICKEN</span>
            </a>
            <p>
              Shredded mozzarella, asiago, chicken, spinach, and marinated
              balsamic sun dried tomatoes.
            </p>
          </li>
          <li *ngIf="clickedMenu=='Specialty Pizzas'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('THE WHITE OUT')">
              <img src="../../assets/images/white-out1.png" class="img-for-item-bar" />
              <span class="empty-link-text">THE WHITE OUT</span>
            </a>
            <p>
              Extra virgin olive oil, shredded mozzarella, parmesan, fresh
              mushrooms, and garlic.
            </p>
          </li>
          <li *ngIf="clickedMenu=='Specialty Pizzas'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('HAWAIIAN FIRE')">
              <img src="../../assets/images/h-fire.png" class="img-for-item-bar" />
              <span class="empty-link-text">HAWAIIAN FIRE</span>
            </a>
            <p>
              Spicy sriracha marinara, shredded mozzarella, Canadian bacon, banana
              peppers, and pineapple.
            </p>
          </li>
          <li *ngIf="clickedMenu=='Specialty Pizzas'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('THE PHILLY')">
              <img src="../../assets/images/the-philly.png" class="img-for-item-bar" />
              <span class="empty-link-text">THE PHILLY</span>
            </a>
            <p>Balsamic onions, mozzarella, and thinly sliced rib-eye.</p>
          </li>
          <li *ngIf="clickedMenu=='Specialty Pizzas'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('SMOKEY POLLO')">
              <img src="../../assets/images/smoky-pollo.png" class="img-for-item-bar" />
              <span class="empty-link-text">SMOKEY POLLO</span>
            </a>
            <p>
              Sweet and Smokey Bourbon Barbecue Sauce, Roasted Chicken, Bacon, Red
              Onion, Red Peppers, Pineapple, Shredded Mozzarella & Blue cheese.
            </p>
          </li>
          <li *ngIf="clickedMenu=='Specialty Pizzas'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('SAUSAGE & PEPPERS')">
              <img src="../../assets/images/sausage-peppers1.png" class="img-for-item-bar" />
              <span class="empty-link-text">SAUSAGE & PEPPERS</span>
            </a>
            <p>
              Marinara, shredded mozzarella, Italian sausage, red and green
              peppers, and red onions.
            </p>
          </li>
          <li *ngIf="clickedMenu=='Specialty Pizzas'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('TRENTON TOMATO PIE')">
              <img src="../../assets/images/trenton-tomato-pie.png" class="img-for-item-bar" />
              <span class="empty-link-text">TRENTON TOMATO PIE</span>
            </a>
            <p>
              Marinara generously spread on top of shredded mozzarella, and
              oregano.
            </p>
          </li>
          <li *ngIf="clickedMenu=='Specialty Pizzas'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openPizza('THE MEATZA')">
              <img src="../../assets/images/meatza1.png" class="img-for-item-bar" />
              <span class="empty-link-text">THE MEATZA</span>
            </a>
            <p>
              Marinara, mozzarella, pepperoni, bacon, Italian sausage, and
              crumbled meatballs.
            </p>
          </li>
          <li *ngIf="clickedMenu=='Salads'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openSalad('CHICKEN CAESAR SALAD')">
              <img src="../../assets/images/Grilled-Chicken-Caesar-Salad-550x393.jpg" class="img-for-item-bar" />
              <span class="empty-link-text">CHICKEN CAESAR SALAD</span>
            </a>
            <p class="textSizeCtrlForCc divForText">Romaine, All-Natural Chicken, Croutons, Parmesan Cheese, Caesar
              Dressing</p>
          </li>
          <li *ngIf="clickedMenu=='Salads'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openSalad('GREEK SALAD')">
              <img src="../../assets/images/Greek-Salad-500x500.jpg" class="img-for-item-bar" />
              <span class="empty-link-text">GREEK SALAD</span>
            </a>
            <p class="textSizeCtrlForGs divForText">Romaine, Cucumbers, Grape Tomatoes, Red Onions, Black Olives, Feta
              Cheese, Greek Dressing</p>
          </li>
          <li *ngIf="clickedMenu=='Salads'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openSalad('BUILD YOUR OWN SALAD')">
              <img src="../../assets/images/images.jpeg" class="img-for-item-bar" />
              <span class="empty-link-text">BUILD YOUR OWN SALAD</span>
            </a>
          </li>
          <li *ngIf="clickedMenu=='Drinks'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openDrink('FOUNTAIN DRINK')">
              <img src="../../assets/images/fdrink-min.jpg" class="img-for-item-bar" />
              <span class="empty-link-text">FOUNTAIN DRINK</span>
            </a>
          </li>
          <li *ngIf="clickedMenu=='Drinks'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openDrink('IZZE GLASS BOTTLE')">
              <img src="../../assets/images/sparkling-water-izze-juice.jpg" class="img-for-item-bar" />
              <span class="empty-link-text">IZZE GLASS BOTTLE</span>
            </a>
          </li>
          <li *ngIf="clickedMenu=='Drinks'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openDrink('BOTTLED WATER')">
              <img src="../../assets/images/resized-ew_1l_vert_onwhite_color_fulllabel_digital_t118.jpg"
                class="img-for-item-bar" />
              <span class="empty-link-text">BOTTLED WATER</span>
            </a>
          </li>
          <li *ngIf="clickedMenu=='Desserts'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openDessert('Cookies')">
              <img src="../../assets/images/146208lrg.jpg" class="img-for-item-bar" />
              <span class="empty-link-text">COOKIES</span>
            </a>
          </li>
          <li *ngIf="clickedMenu=='Desserts'" class="nav-item item-bar">
            <a class="nav-link active empty-link" (click)="openDessert('Brownies')">
              <img src="../../assets/images/coconut-flour-brownies-2.jpg" class="img-for-item-bar" />
              <span class="empty-link-text">BROWNIES</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="shopping-cart">
    <div class="order-contents">
      <h2 class="order-contents-text">Order Contents</h2>
    </div>
    <div *ngFor="let pizzaItem of pizzaModalComponent.pizzaItems; let i = index;" class="cart-item">
      <span class="quantity">1x</span>
      <span *ngIf="pizzaItem.type=='BUILD YOUR OWN PIZZA'" class="cart-item-name">{{ pizzaItem.type }}</span>
      <span *ngIf="pizzaItem.type!='BUILD YOUR OWN PIZZA'" class="cart-item-name">{{ pizzaItem.type }}</span>
      <span class="cart-item-price">${{ pizzaItem.price }}</span>
      <div class="edit-delete">
        <span>[ </span>
        <a class="empty-link" (click)="pizzaModalComponent.valueBindingForEdit(i); openPizza(pizzaItem.type)"><span
            class="empty-link-text">edit</span></a> | <a class="empty-link"><span class="empty-link-text"
            (click)="pizzaModalComponent.deletePizzaItem(i)">delete</span></a>
        <span> ]</span>
      </div>
      <div class="options-display">
        {{ pizzaModalComponent.buildDisplayForCart(pizzaItem) }}
      </div>
    </div>


    <!-- quantity style="padding-right: 2px; font-size: 14px; font-weight: 700; float: left;" -->
    <!-- cart-item-name style="width: 150px; padding-right: 2px; font-size: 14px; font-weight: 700; float: left;" -->
    <!-- cart-item-price style="margin-right: 5px; padding-right: 2px; font-size: 14px; font-weight: 700; float: right;" -->
    <div *ngFor="let saladItem of saladModalComponent.saladItems; let i = index;" class="cart-item">
      <span class="quantity">1x</span>
      <span class="cart-item-name" *ngIf="saladItem.type=='BUILD YOUR OWN SALAD'">{{ saladItem.type }}</span>
      <span class="cart-item-name" *ngIf="saladItem.type!='BUILD YOUR OWN SALAD'">{{ saladItem.type }}</span>
      <span class="cart-item-price">${{ saladItem.price }}</span>
      <div class="edit-delete">
        <span>[ </span>
        <a class="empty-link" (click)="saladModalComponent.valueBindingForEdit(i); openSalad(saladItem.type)"><span
            class="empty-link-text">edit</span></a> | <a class="empty-link"><span class="empty-link-text"
            (click)="saladModalComponent.deleteSaladItem(i)">delete</span></a>
        <span> ]</span>
      </div>
      <div class="options-display">
        {{ saladModalComponent.buildDisplayForCart(saladItem) }}
      </div>
    </div>


    <!-- quantity style="padding-right: 2px; font-size: 14px; font-weight: 700; float: left;" -->
    <!-- cart-item-name style="width: 150px; padding-right: 2px; font-size: 14px; font-weight: 700; float: left;" -->
    <!-- cart-item-price style="margin-right: 5px; padding-right: 2px; font-size: 14px; font-weight: 700; float: right;" -->
    <div *ngFor="let drinkItem of drinkModalComponent.drinkItems; let i = index;" class="cart-item">
      <span class="quantity">1x</span>
      <span class="cart-item-name">{{ drinkItem.type }}</span>
      <span class="cart-item-price">${{ drinkItem.price }}</span>
      <div class="edit-delete">
        <span>[ </span>
        <a class="empty-link" (click)="drinkModalComponent.valueBindingForEdit(i); openDrink(drinkItem.type)"><span
            class="empty-link-text">edit</span></a> | <a class="empty-link"><span class="empty-link-text"
            (click)="drinkModalComponent.deleteDrinkItem(i)">delete</span></a>
        <span> ]</span>
      </div>
      <div class="options-display">
        {{ drinkModalComponent.buildDisplayForCart() }}
      </div>
    </div>

    <!-- quantity style="padding-right: 2px; font-size: 14px; font-weight: 700; float: left;" -->
    <!-- cart-item-name style="width: 150px; padding-right: 2px; font-size: 14px; font-weight: 700; float: left;" -->
    <!-- cart-item-price style="margin-right: 5px; padding-right: 2px; font-size: 14px; font-weight: 700; float: right;" -->
    <div *ngFor="let dessertItem of dessertModalComponent.dessertItems; let i = index;" class="cart-item">
      <span class="quantity">1x</span>
      <span *ngIf="dessertItem.type=='Cookies'" class="cart-item-name">{{ dessertItem.cookieChoice }}</span>
      <span *ngIf="dessertItem.type=='Brownies'" class="cart-item-name">{{ dessertItem.brownieChoice }}</span>
      <span class="cart-item-price">${{ dessertItem.price }}</span>
      <div class="edit-delete">
        <span>[ </span>
        <a class="empty-link"
          (click)="dessertModalComponent.valueBindingForEdit(i); openDessert(dessertItem.type)"><span
            class="empty-link-text">edit</span></a> | <a class="empty-link"><span class="empty-link-text"
            (click)="dessertModalComponent.deleteDessertItem(i)">delete</span></a>
        <span> ]</span>
      </div>
      <div class="options-display">
        {{ dessertModalComponent.buildDisplayForCart() }}
      </div>
    </div>

    <div class="calculate-total-section">
      <div class="calculate-total-subsection">
        <span>Subtotal</span>
        <span class="total-number">${{ showSubtotal() }}</span>
      </div>
      <div class="calculate-total-subsection">
        <span>Tax</span>
        <span class="total-number">${{ showLocalTax() }}</span>
      </div>
      <div class="calculate-total-subsection">
        <span>Total</span>
        <span class="total-number">${{ showTotal() }}</span>
      </div>
    </div>

  </div>

</div>
