<ng-template #contentPizza let-modal>
  <div class="modal-header">
    <p class="modal-title">Customize</p>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); resetForm()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form novalidate (ngSubmit)="save()" [formGroup]="pizzaForm">
      <fieldset style="text-align: center">
        <legend style="text-align: center">Choose Your Size</legend>
        <ul>
          <li style="display: inline-flex; align-items: center;">
            <input class="radio-input" type="radio" id="inlineRadio1" value="10" formControlName="size"> 10 inch
          </li>
          <li style="display: inline-flex; align-items: center;">
            <input class="radio-input" type="radio" id="inlineRadio2" value="14" formControlName="size"> 14 inch
          </li>
        </ul>
      </fieldset>

      <fieldset style="text-align: center">
        <legend style="text-align: center">Choose Your Crust</legend>
        <div style="margin-left: auto; margin-right: auto;">
          <input class="radio-input" type="radio" id="inlineRadio1" value="traditional" formControlName="crust">
          Traditional Neapolitan (our favorite)
          <input class="radio-input" type="radio" id="inlineRadio2" value="gluten-free" formControlName="crust"> Gluten
          Free
        </div>
      </fieldset>

      <fieldset *ngIf="type.value=='byo'" style="text-align: center">
        <legend style="text-align: center">Choose Your Sauce</legend>
        <div style="margin-left: auto; margin-right: auto;">
          <input class="radio-input" type="radio" id="inlineRadio1" value="marinara" formControlName="sauce"> Signature
          Marinara
          <input class="radio-input" type="radio" id="inlineRadio2" value="spicy-marinara" formControlName="sauce">
          Spicy Sriracha Marinara
          <input class="radio-input" type="radio" id="inlineRadio2" value="buffalo" formControlName="sauce"> Buffalo
          Sauce
          <input class="radio-input" type="radio" id="inlineRadio2" value="white" formControlName="sauce"> White Sauce
        </div>
      </fieldset>

      <fieldset *ngIf="type.value=='byo'" style="text-align: center">
        <legend style="text-align: center">Choose Your Cheese</legend>
        <div formArrayName="cheese">
          <div class="radio-input" *ngFor="let oneCheese of cheese.controls; let i = index">
            <input type="checkbox" formControlName="{{ i }}"> {{pizzaCheckboxes.cheese[i].name}}
          </div>
        </div>
      </fieldset>

      <fieldset *ngIf="type.value=='byo'" style="text-align: center">
        <legend style="text-align: center">Choose Your Veggies</legend>
        <div formArrayName="veggies">
          <div class="radio-input" *ngFor="let veggie of veggies.controls; let i = index">
            <input type="checkbox" formControlName="{{ i }}"> {{pizzaCheckboxes.veggies[i].name}}
          </div>
        </div>
      </fieldset>

      <fieldset *ngIf="type.value=='byo'" style="text-align: center">
        <legend style="text-align: center">Choose Your Meats</legend>
        <div formArrayName="meats">
          <div class="radio-input" *ngFor="let meat of meats.controls; let i = index">
            <input type="checkbox" formControlName="{{ i }}"> {{pizzaCheckboxes.meats[i].name}}
          </div>
        </div>
      </fieldset>

      <fieldset style="text-align: center">
        <legend style="text-align: center">Choose Your Finishes</legend>
        <div formArrayName="finishes">
          <div class="radio-input" *ngFor="let finish of finishes.controls; let i = index">
            <input type="checkbox" formControlName="{{ i }}"> {{pizzaCheckboxes.finishes[i].name}}
          </div>
        </div>
      </fieldset>
    </form>
    <h3>{{ pizzaForm.value | json }}</h3>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click'); resetForm()">Close</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click'); createTempForm(); resetForm()">Add
      to cart</button>
  </div>
</ng-template>
