<ng-template #contentPizza let-modal>
  <div class="modal-header">
    <p class="modal-title">Customize</p>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); resetForm()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form novalidate (ngSubmit)="save()" [formGroup]="pizzaForm">

      <fieldset style="text-align: center">
        <legend style="text-align: center">Choose Your Size</legend>
        <ul>
          <li style="display: inline-flex; align-items: center;">
              <input class="radio-input" type="radio" id="inlineRadio1" value="10" formControlName="size"> 10 inch
              <!-- <label class="radio-label" for="inlineRadio1"></label> -->
          </li>
          <li style="display: inline-flex; align-items: center;">
              <input class="radio-input" type="radio" id="inlineRadio2" value="14" formControlName="size"> 14 inch
              <!-- <label class="radio-label" for="inlineRadio2"> </label> -->
          </li>
        </ul>



      </fieldset>


      <fieldset style="text-align: center">
        <legend style="text-align: center">Choose Your Crust</legend>
        <div style="margin-left: auto; margin-right: auto;">
          <input class="radio-input" type="radio" id="inlineRadio1" value="traditional" formControlName="crust"> Traditional Neapolitan (our favorite)
          <!-- <label class="radio-label" for="inlineRadio1"> </label> -->
          <input class="radio-input" type="radio" id="inlineRadio2" value="gluten-free" formControlName="crust"> Gluten Free
          <!-- <label class="radio-label" for="inlineRadio2"></label> -->
        </div>
      </fieldset>


      <fieldset *ngIf="pizzaType=='byo'" style="text-align: center">
          <legend style="text-align: center">Choose Your Sauce</legend>
          <div style="margin-left: auto; margin-right: auto;">
            <input class="radio-input" type="radio" id="inlineRadio1" value="marinara" formControlName="sauce"> Signature Marinara
            <input class="radio-input" type="radio" id="inlineRadio2" value="spicy-marinara" formControlName="sauce"> Spicy Sriracha Marinara
            <input class="radio-input" type="radio" id="inlineRadio2" value="buffalo" formControlName="sauce"> Buffalo Sauce
            <input class="radio-input" type="radio" id="inlineRadio2" value="white" formControlName="sauce"> White Sauce
          </div>
        </fieldset>


      <!-- pizzaForm.get('finishes') -->
      <!-- formArrayName="finishes" -->

      <fieldset *ngIf="pizzaType=='byo'" style="text-align: center">
          <legend style="text-align: center">Choose Your Cheese</legend>
          <div formArrayName="cheese">
            <div class="radio-input" *ngFor="let oneCheese of pizzaForm.get('cheese').controls; let i = index">
              <input type="checkbox" formControlName="{{ i }}"> {{pizzaCheckboxes.cheese[i].name}}
            </div>

          </div>
        </fieldset>

        <fieldset *ngIf="pizzaType=='byo'" style="text-align: center">
            <legend style="text-align: center">Choose Your Veggies</legend>
            <div formArrayName="veggies">

              <div class="radio-input" *ngFor="let veggie of pizzaForm.get('veggies').controls; let i = index">
                <input type="checkbox" formControlName="{{ i }}"> {{pizzaCheckboxes.veggies[i].name}}
              </div>

            </div>
          </fieldset>

          <fieldset *ngIf="pizzaType=='byo'" style="text-align: center">
              <legend style="text-align: center">Choose Your Meats</legend>
              <div formArrayName="meats">

                <div class="radio-input" *ngFor="let meat of pizzaForm.get('meats').controls; let i = index">
                  <input type="checkbox" formControlName="{{ i }}"> {{pizzaCheckboxes.meats[i].name}}
                </div>

              </div>
            </fieldset>


      <fieldset style="text-align: center">
          <legend style="text-align: center">Choose Your Finishes</legend>
          <div formArrayName="finishes">

            <div class="radio-input" *ngFor="let finish of pizzaForm.get('finishes').controls; let i = index">
              <input type="checkbox" formControlName="{{ i }}"> {{pizzaCheckboxes.finishes[i].name}}
            </div>




            <!-- <input class="radio-input" type="checkbox" id="{{ i }}" formControlName="{{ i }}">
              <label class="radio-label" for="{{ i }}">{{exampleUser.finishes[i].name}}</label> -->


             <!-- <input class="radio-input" type=”checkbox” formControlName="ingredient"/> -->


                <!-- <input class="radio-input" type="checkbox" id="inlineCheckbox1" value="Signature Marinara" formControlName="finishes">
                <label class="radio-label" for="inlineCheckbox1">Signature Marinara</label>

                <input class="radio-input" type="checkbox" id="inlineCheckbox2" value="Spicy Sriracha Marinara" formControlName="finishes">
                <label class="radio-label" for="inlineCheckbox2">Spicy Sriracha Marinara</label>

                <input class="radio-input" type="checkbox" id="inlineCheckbox3" value="Pesto Drizzle" formControlName="finishes">
                <label class="radio-label" for="inlineCheckbox3">Pesto Drizzle</label>

                <input class="radio-input" type="checkbox" id="inlineCheckbox4" value="Smokey Bourbon BBQ" formControlName="finishes">
                <label class="radio-label" for="inlineCheckbox4">Smokey Bourbon BBQ</label>

                <input class="radio-input" type="checkbox" id="inlineCheckbox5" value="Extra Virgin Olive Oil Drizzle" formControlName="finishes">
                <label class="radio-label" for="inlineCheckbox5">Extra Virgin Olive Oil Drizzle</label>

                <input class="radio-input" type="checkbox" id="inlineCheckbox6" value="Buffalo Sauce" formControlName="finishes">
                <label class="radio-label" for="inlineCheckbox6">Buffalo Sauce</label>

                <input class="radio-input" type="checkbox" id="inlineCheckbox7" value="White Sauce" formControlName="finishes">
                <label class="radio-label" for="inlineCheckbox7">White Sauce</label>

                <input class="radio-input" type="checkbox" id="inlineCheckbox8" value="Ranch" formControlName="finishes">
                <label class="radio-label" for="inlineCheckbox8">Ranch</label> -->

            </div>
          </fieldset>


    </form>

    <h3>{{ pizzaForm.value | json }}</h3>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click'); resetForm()">Close</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click'); createTempForm(); resetForm()">Add to cart</button>
  </div>
</ng-template>
