<ng-template #contentSalad let-modal>
  <div class="modal-header">
    <p class="modal-title">Customize</p>
    <button type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click'); resetEdit(); resetForm()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form novalidate (ngSubmit)="save()" [formGroup]="saladForm">
      <fieldset class="fieldset" *ngIf="type.value=='BUILD YOUR OWN SALAD'">
        <div *ngIf="saladForm.hasError('oneBox')">
          <span style="font-size: 12px; color: #b80000">
            Choose at least one item in this section
          </span>
        </div>
        <legend>Choose Your Greens</legend>
        <ul class="ul-for-choice" formArrayName="greens">
          <li class="li-for-choice" *ngFor="let green of greens.controls; let i = index" (click)="greenBoxClicking(i)">
            <input type="checkbox" id="gr{{ i }}" formControlName="{{ i }}">
            <label class="label-for-choice" for="gr{{ i }}" (click)="greenBoxClicking(i)">
              <span>
                {{saladCheckboxes.greens[i].name}}
              </span>
            </label>
          </li>
        </ul>
      </fieldset>

      <fieldset class="fieldset" *ngIf="type.value=='BUILD YOUR OWN SALAD'">
        <legend>Choose Your Cheese</legend>
        <ul class="ul-for-choice" formArrayName="cheese">
          <li class="li-for-choice" *ngFor="let oneCheese of cheese.controls; let i = index"
            (click)="oneCheeseBoxClicking(i)">
            <input type="checkbox" id="ch{{ i }}" formControlName="{{ i }}">
            <label class="label-for-choice" for="ch{{ i }}" (click)="oneCheeseBoxClicking(i)">
              <span>
                {{saladCheckboxes.cheese[i].name}}
              </span>
            </label>
          </li>
        </ul>


      </fieldset>

      <fieldset class="fieldset" *ngIf="type.value=='BUILD YOUR OWN SALAD'">
        <div *ngIf="saladForm.hasError('oneBox')">
          <span style="font-size: 12px; color: #b80000">
            Choose at least one item in this section
          </span>
        </div>
        <legend>Choose Your Fresh Produce</legend>
        <ul class="ul-for-choice" formArrayName="freshProduce">
          <li class="li-for-choice" *ngFor="let oneFreshProduce of freshProduce.controls; let i = index"
            (click)="oneFreshProduceBoxClicking(i)">
            <input type="checkbox" id="fr{{ i }}" formControlName="{{ i }}">
            <label class="label-for-choice" for="fr{{ i }}" (click)="oneFreshProduceBoxClicking(i)">
              <span>
                {{saladCheckboxes.freshProduce[i].name}}
              </span>
            </label>
          </li>
        </ul>
      </fieldset>

      <fieldset class="fieldset" *ngIf="type.value=='BUILD YOUR OWN SALAD'">
        <legend>Choose Your Meats</legend>
        <ul class="ul-for-choice" formArrayName="meats">
          <li class="li-for-choice" *ngFor="let meat of meats.controls; let i = index" (click)="meatBoxClicking(i)">
            <input type="checkbox" id="me{{ i }}" formControlName="{{ i }}">
            <label class="label-for-choice" for="me{{ i }}" (click)="meatBoxClicking(i)">
              <span>
                {{saladCheckboxes.meats[i].name}}
              </span>
            </label>
          </li>
        </ul>
      </fieldset>
      <fieldset class="fieldset" *ngIf="type.value=='BUILD YOUR OWN SALAD'">
        <legend>Top It Off</legend>
        <ul class="ul-for-choice" formArrayName="topItOff">
          <li class="li-for-choice" *ngFor="let oneTopItOff of topItOff.controls; let i = index"
            (click)="oneTopItOffBoxClicking(i)">
            <input type="checkbox" id="to{{ i }}" formControlName="{{ i }}">
            <label class="label-for-choice" for="to{{ i }}" (click)="oneTopItOffBoxClicking(i)">
              <span>
                {{saladCheckboxes.topItOff[i].name}}
              </span>
            </label>
          </li>
        </ul>
      </fieldset>
      <fieldset class="fieldset" *ngIf="type.value=='BUILD YOUR OWN SALAD'">
        <legend>Choose Your Dressings</legend>
        <ul class="ul-for-choice" formArrayName="dressings">
          <li class="li-for-choice" *ngFor="let dressing of dressings.controls; let i = index"
            (click)="dressingBoxClicking(i)">
            <input type="checkbox" id="dr{{ i }}" formControlName="{{ i }}">
            <label class="label-for-choice" for="dr{{ i }}" (click)="dressingBoxClicking(i)">
              <span>
                {{saladCheckboxes.dressings[i].name}}
              </span>
            </label>
          </li>
        </ul>
      </fieldset>
      <fieldset class="fieldset" *ngIf="type.value!='BUILD YOUR OWN SALAD'">
        <legend>Choose Side or Entree</legend>
        <ul class="ul-for-choice">
          <li class="li-for-choice" (click)="sizeRadioClicking('Side')">
            <input type="radio" id="size-radio-1" value="Side" formControlName="size">
            <label class="label-for-choice" for="size-radio-1">
              <span>
                Side
              </span>
            </label>
          </li>
          <li class="li-for-choice" (click)="sizeRadioClicking('Entree')">
            <input type="radio" id="size-radio-2" value="Entree" formControlName="size">
            <label class="label-for-choice" for="size-radio-2">
              <span>
                Entree
              </span>
            </label>
          </li>
        </ul>
      </fieldset>
      <div class="quantity-box">
          <div *ngIf="quantity.hasError('min') || quantity.hasError('max') || quantity.hasError('required')">
              <span style="font-size: 12px; color: #b80000">Please enter a valid quantity between 1 and 99 for this product.</span>
          </div>
        <label for="qty">Quantity:</label>
        <input class="quantity-input" type="text" id="qty" maxlength=3 formControlName="quantity">
      </div>
    </form>
    <!-- <h3>{{ saladForm.value | json }}</h3> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
      (click)="modal.close('Close click'); resetEdit(); resetForm()">Close</button>
    <button *ngIf="!forEdit" type="button" class="btn btn-primary"
      (click)="modal.close('Close click'); createTempForm(); resetForm()" [disabled]="!saladForm.valid">Add
      to cart</button>
    <button *ngIf="forEdit" type="button" class="btn btn-primary"
      (click)="modal.close('Close click'); updateTempForm(); resetForm()" [disabled]="!saladForm.valid">Update</button>
  </div>
</ng-template>
