<ng-template #contentSalad let-modal>
  <div class="modal-header">
    <p class="modal-title">Customize</p>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); resetEdit(); resetForm()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form novalidate (ngSubmit)="save()" [formGroup]="saladForm">
      <fieldset *ngIf="type.value=='BUILD YOUR OWN SALAD'" style="text-align: center">
        <legend style="text-align: center">Choose Your Greens</legend>
        <div formArrayName="greens">
          <div class="radio-input" *ngFor="let green of greens.controls; let i = index">
            <input type="checkbox" formControlName="{{ i }}"> {{saladCheckboxes.greens[i].name}}
          </div>
        </div>
      </fieldset>

      <fieldset *ngIf="type.value=='BUILD YOUR OWN SALAD'" style="text-align: center">
        <legend style="text-align: center">Choose Your Cheese</legend>
        <div formArrayName="cheese">
          <div class="radio-input" *ngFor="let oneCheese of cheese.controls; let i = index">
            <input type="checkbox" formControlName="{{ i }}"> {{saladCheckboxes.cheese[i].name}}
          </div>
        </div>
      </fieldset>

      <fieldset *ngIf="type.value=='BUILD YOUR OWN SALAD'" style="text-align: center">
        <legend style="text-align: center">Choose Your Fresh Produce</legend>
        <div formArrayName="freshProduce">
          <div class="radio-input" *ngFor="let oneFreshProduce of freshProduce.controls; let i = index">
            <input type="checkbox" formControlName="{{ i }}"> {{saladCheckboxes.freshProduce[i].name}}
          </div>
        </div>
      </fieldset>

      <fieldset *ngIf="type.value=='BUILD YOUR OWN SALAD'" style="text-align: center">
        <legend style="text-align: center">Choose Your Meats</legend>
        <div formArrayName="meats">
          <div class="radio-input" *ngFor="let meat of meats.controls; let i = index">
            <input type="checkbox" formControlName="{{ i }}"> {{saladCheckboxes.meats[i].name}}
          </div>
        </div>
      </fieldset>
      <fieldset *ngIf="type.value=='BUILD YOUR OWN SALAD'" style="text-align: center">
        <legend style="text-align: center">Top It Off</legend>
        <div formArrayName="topItOff">
          <div class="radio-input" *ngFor="let oneTopItOff of topItOff.controls; let i = index">
            <input type="checkbox" formControlName="{{ i }}"> {{saladCheckboxes.topItOff[i].name}}
          </div>
        </div>
      </fieldset>
      <fieldset *ngIf="type.value=='BUILD YOUR OWN SALAD'" style="text-align: center">
        <legend style="text-align: center">Choose Your Dressings</legend>
        <div formArrayName="dressings">
          <div class="radio-input" *ngFor="let dressing of dressings.controls; let i = index">
            <input type="checkbox" formControlName="{{ i }}"> {{saladCheckboxes.dressings[i].name}}
          </div>
        </div>
      </fieldset>
      <fieldset *ngIf="type.value=='CHICKEN CAESAR SALAD'" style="text-align: center">
          <legend style="text-align: center">CHICKEN CAESAR SALAD</legend>
        </fieldset>
        <fieldset *ngIf="type.value=='GREEK SALAD'" style="text-align: center">
          <legend style="text-align: center">GREEK SALAD</legend>
        </fieldset>
    </form>
    <h3>{{ saladForm.value | json }}</h3>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click'); resetEdit(); resetForm()">Close</button>
    <button *ngIf="!forEdit" type="button" class="btn btn-light" (click)="modal.close('Close click'); createTempForm(); resetForm()">Add
      to cart</button>
      <button *ngIf="forEdit" type="button" class="btn btn-light" (click)="modal.close('Close click'); updateTempForm(); resetForm()">Update</button>
  </div>
</ng-template>
