<div class="container box-form">
  <div class="contact-info-header">New User</div>
  <form [formGroup]="newUserInfo" class="contact-info-form">
    <span class="row contact-info-row">
      <span *ngIf="newUserInfo.get('username').hasError('required')" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
        This field is required
      </span>
      <!-- <span *ngIf="creditCardForm.get('cardNumber').hasError('pattern')" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
        Enter valid card number, only enter numbers
      </span> -->
      <span *ngIf="newUserInfo.get('password').hasError('required')" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
        This field is required
      </span>
      <!-- <span *ngIf="creditCardForm.get('expMonth').hasError('pattern')" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
        Enter valid month: 01, 02, 03... 12
      </span> -->
    </span>
    <div class="row contact-info-row">
      <div class="col col-center">
        Username:
      </div>
      <div class="col col-center">
        <input type="text" formControlName="username">
      </div>
      <div class="col col-center">
        Password:
      </div>
      <div class="col col-center">
        <input type="text" formControlName="password">
      </div>
    </div>
    <span class="row contact-info-row">
      <!-- <span *ngIf="newUserInfo.get('username').hasError('required')" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
        This field is required
      </span> -->
      <!-- <span *ngIf="creditCardForm.get('cardNumber').hasError('pattern')" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
        Enter valid card number, only enter numbers
      </span> -->
      <span *ngIf="newUserInfo.get('email').hasError('required')" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
        This field is required
      </span>
      <span *ngIf="newUserInfo.get('email').hasError('pattern')" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
        Enter valid email address
      </span>
    </span>
    <div class="row contact-info-row">
      <div class="col col-center">
        PasswordConf:
      </div>
      <div class="col col-center">
        <!-- formControlName="email" -->
        <input type="text">
      </div>
      <div class="col col-center">
        Email:
      </div>
      <div class="col col-center">
        <input type="text" formControlName="email">
      </div>
    </div>
  </form>
</div>

<div class="place-order-button">
  <button type="button" class="btn btn-outline-success" (click)="addNewUser()" [disabled]="!newUserInfo.valid">Sign
    Up</button>
  <!-- place navigation inside the method, not need to worry about click, it is used for both <button> and <a> -->
</div>
