<div class="container box-form">
  <div class="contact-info-header">New User</div>
  <span *ngIf="alert" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
        The username you typed in already exists. Please try a different username.
      </span>
  <form [formGroup]="newUserInfo" class="contact-info-form">
    <span class="row contact-info-row">
      <span *ngIf="newUserInfo.get('username').hasError('required')" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
        This field is required
      </span>
      <span *ngIf="newUserInfo.get('username').hasError('pattern')" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
        The username must be between 4 and 15 characters long, the first character must be a letter, and
        no characters other than letters, numbers, and the underscore may be used.
      </span>
      <span *ngIf="newUserInfo.get('email').hasError('required')" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
        This field is required
      </span>
      <span *ngIf="newUserInfo.get('email').hasError('pattern')" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
        Enter valid email address
      </span>
    </span>
    <div class="row contact-info-row">
      <div class="col col-center">
        Username:
      </div>
      <div class="col col-center">
        <input type="text" formControlName="username">
      </div>
      <div class="col col-center">
        Email:
      </div>
      <div class="col col-center">
        <input type="text" formControlName="email">
      </div>
    </div>
    <span class="row contact-info-row">
      <span *ngIf="newUserInfo.get('passwordGroup').get('password').hasError('required')" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
      This field is required
      </span>
      <span *ngIf="newUserInfo.get('passwordGroup').get('password').hasError('pattern')" class="col col-center"
      style="font-size: 12px; color: #b80000; margin-left: 10px">
      Password must be between 4 and 8 digits long and include at least one numeric digit.
      </span>
      <span *ngIf="newUserInfo.get('passwordGroup').get('passwordConfirmation').hasError('required')" class="col col-center"
        style="font-size: 12px; color: #b80000; margin-left: 10px">
      This field is required
      </span>
      <span *ngIf="newUserInfo.get('passwordGroup').hasError('match')" class="col col-center"
      style="font-size: 12px; color: #b80000; margin-left: 10px">
      Password does not match
    </span>
    </span>
    <div class="row contact-info-row" formGroupName="passwordGroup">
      <div class="col col-center">
        Password:
      </div>
      <div class="col col-center">
        <input type="password" formControlName="password">
      </div>
      <div class="col col-center">
        Password Confirmation:
      </div>
      <div class="col col-center">
        <input type="password" formControlName="passwordConfirmation">
      </div>
    </div>
  </form>
</div>

<div class="place-order-button">
  <button type="button" class="btn btn-outline-success" (click)="addNewUser()" [disabled]="!newUserInfo.valid">Sign
    Up</button>
  <!-- place navigation inside the method, not need to worry about click, it is used for both <button> and <a> -->
</div>
