.navbarTweaks {
  background-color: #fff;
  border-bottom: 1px solid black;
  padding: 0;
}

.navbar-brand {
  padding: 0;
}

.mainArea {
  margin-top: 101px;
}

.clicked-link {
  border-bottom: 5px solid red;
}

.menu-button-tweak {
  margin-right: 20px;
}
