<app-navbar></app-navbar>
<div>
  <div class="row justify-content-center">
    <div class="column leftPictureMargin">
      <img src="../assets/images/margherita.png" />
      <div class="textForPicture">
        <h2>CLASSIC MARGHERITA</h2>
        <p>
          Marinara, extra virgin olive oil, fresh mozzarella, fresh basil, and
          oregano.
        </p>
      </div>
    </div>
    <div class="column">
      <img src="../assets/images/new-yorker.png" />
      <div class="textForPicture">
        <h2>CLASSIC NEW YORKER</h2>
        <p>
          Marinara, shredded mozzarella, and oregano.
        </p>
      </div>
    </div>
    <div class="column rightPictureMargin">
      <img src="../assets/images/tony-pepperoni.png" />
      <div class="textForPicture">
        <h2>TONY PEPPERONI</h2>
        <p>
          Marinara, shredded mozzarella, pepperoni, and oregano.
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="column leftPictureMargin">
      <img src="../assets/images/johnny-the-meatball.png" />
      <div class="textForPicture">
        <h2>JOHNNY THE MEATBALL</h2>
        <p>Marinara, shredded mozzarella, and crumbled meatballs.</p>
      </div>
    </div>
    <div class="column">
      <img src="../assets/images/4-cheese.png" />
      <div class="textForPicture">
        <h2>QUATTRO FORMAGGIO</h2>
        <p>Marinara, mozzarella, Asiago, Parmesan, ricotta, and oregano.</p>
      </div>
    </div>
    <div class="column rightPictureMargin">
      <img src="../assets/images/buffalo-chicken.png" />
      <div class="textForPicture">
        <h2>BUFFALO CHICKEN</h2>
        <p>
          Buffalo sauce, shredded mozzarella, blue cheese chunks, and grilled
          chicken.
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="column leftPictureMargin">
      <img src="../assets/images/tascan.png" />
      <div class="textForPicture">
        <h2>TUSCAN CHICKEN</h2>
        <p>
          Shredded mozzarella, asiago, chicken, spinach, and marinated
          balsamic sun dried tomatoes.
        </p>
      </div>
    </div>
    <div class="column">
      <img src="../assets/images/white-out1.png" />
      <div class="textForPicture">
        <h2>THE WHITE OUT</h2>
        <p>
          Extra virgin olive oil, shredded mozzarella, parmesan, fresh
          mushrooms, and garlic.
        </p>
      </div>
    </div>
    <div class="column rightPictureMargin">
      <img src="../assets/images/h-fire.png" />
      <div class="textForPicture">
        <h2>HAWAIIAN FIRE</h2>
        <p>
          Spicy sriracha marinara, shredded mozzarella, Canadian bacon, banana
          peppers, and pineapple.
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="column leftPictureMargin">
      <img src="../assets/images/the-philly.png" />
      <div class="textForPicture">
        <h2>THE PHILLY</h2>
        <p>Balsamic onions, mozzarella, and thinly sliced rib-eye.</p>
      </div>
    </div>
    <div class="column">
      <img src="../assets/images/smoky-pollo.png" />
      <div class="textForPicture">
        <h2>SMOKEY POLLO</h2>
        <p>
          Sweet and Smokey Bourbon Barbecue Sauce, Roasted Chicken, Bacon, Red
          Onion, Red Peppers, Pineapple, Shredded Mozzarella & Blue cheese.
        </p>
      </div>
    </div>
    <div class="column rightPictureMargin">
      <img src="../assets/images/sausage-peppers1.png" />
      <div class="textForPicture">
        <h2>SAUSAGE & PEPPERS</h2>
        <p>
          Marinara, shredded mozzarella, Italian sausage, red and green
          peppers, and red onions.
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="column leftPictureMargin">
      <img src="../assets/images/trenton-tomato-pie.png" />
      <div class="textForPicture">
        <h2>TRENTON TOMATO PIE</h2>
        <p>
          Marinara generously spread on top of shredded mozzarella, and
          oregano.
        </p>
      </div>
    </div>
    <div class="column rightPictureMargin">
      <img src="../assets/images/meatza1.png" />
      <div class="textForPicture">
        <h2>THE MEATZA</h2>
        <p>
          Marinara, mozzarella, pepperoni, bacon, Italian sausage, and
          crumbled meatballs.
        </p>
      </div>
    </div>
  </div>
</div>
