<ng-template #contentDessert let-modal>
    <div class="modal-header">
      <p class="modal-title">Customize</p>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); resetEdit(); resetForm()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate (ngSubmit)="save()" [formGroup]="dessertForm">
        <fieldset class="fieldset" *ngIf="type.value=='Cookies'">
          <legend>Choose Your Cookie</legend>
          <ul class="ul-for-choice">
              <li class="li-for-choice" (click)="cookieRadioClicking('Chocolate Chip Cookie')">
                <input type="radio" id="cookieChoice-radio-1" value="Chocolate Chip Cookie" formControlName="cookieChoice">
                <label class="label-for-choice" for="cookieChoice-radio-1">
                  <span>
                      Chocolate Chip Cookie
                  </span>
                </label>
              </li>
              <li class="li-for-choice" (click)="cookieRadioClicking('Double Chocolate Chip Cookie')">
                <input type="radio" id="cookieChoice-radio-2" value="Double Chocolate Chip Cookie" formControlName="cookieChoice">
                <label class="label-for-choice" for="cookieChoice-radio-2">
                  <span>
                      Double Chocolate Chip Cookie
                  </span>
                </label>
              </li>
              <li class="li-for-choice" (click)="cookieRadioClicking('White Macadamia Cookie')">
                  <input type="radio" id="cookieChoice-radio-3" value="White Macadamia Cookie" formControlName="cookieChoice">
                  <label class="label-for-choice" for="cookieChoice-radio-3">
                    <span>
                        White Macadamia Cookie
                    </span>
                  </label>
                </li>
            </ul>
        </fieldset>

        <fieldset class="fieldset" *ngIf="type.value=='Brownies'">
          <legend>Choose Your Brownie</legend>
          <ul class="ul-for-choice">
              <li class="li-for-choice" (click)="brownieRadioClicking('Chocolate Brownie')">
                <input type="radio" id="brownieChoice-radio-1" value="Chocolate Brownie" formControlName="brownieChoice">
                <label class="label-for-choice" for="brownieChoice-radio-1">
                  <span>
                      Chocolate Brownie
                  </span>
                </label>
              </li>
              <li class="li-for-choice" (click)="brownieRadioClicking('Blonde Brownie')">
                <input type="radio" id="brownieChoice-radio-2" value="Blonde Brownie" formControlName="brownieChoice">
                <label class="label-for-choice" for="brownieChoice-radio-2">
                  <span>
                      Blonde Brownie
                  </span>
                </label>
              </li>
            </ul>
        </fieldset>
        <div class="quantity-box">
            <div *ngIf="quantity.hasError('min') || quantity.hasError('max') || quantity.hasError('required')">
                <span style="font-size: 12px; color: #b80000">Please enter a valid quantity between 1 and 99 for this product.</span>
            </div>
          <label for="qty">Quantity:</label>
          <input class="quantity-input" type="text" id="qty" maxlength=3 formControlName="quantity">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click'); resetEdit(); resetForm()">Close</button>
      <button *ngIf="!forEdit" type="button" class="btn btn-primary" (click)="modal.close('Close click'); createTempForm(); resetForm()" [disabled]="!dessertForm.valid">Add
        to cart</button>
        <button *ngIf="forEdit" type="button" class="btn btn-primary" (click)="modal.close('Close click'); updateTempForm(); resetForm()" [disabled]="!dessertForm.valid">Update</button>
    </div>
  </ng-template>
