<div class="container space-for-top">

  <div *ngIf="contactInfoAndPaymentData != null">
    <h4 class="mb-3">Contact Info</h4>
    <form [formGroup]="contactInfoAndPaymentForm">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">First name</label>

          <input type="text" class="form-control" id="firstName" formControlName="firstName">
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('firstName').hasError('required')">
            This field is required
          </span>
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('firstName').hasError('pattern')">
            Enter valid name, at least two characters are required
          </span>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Last name</label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName">
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('lastName').hasError('required')">
            This field is required
          </span>
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('lastName').hasError('pattern')">
            Enter valid name, at least two characters are required
          </span>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email">
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('email').hasError('required')">
            This field is required
          </span>
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('email').hasError('pattern')">
            Enter valid email address
          </span>
        </div>
        <div class="col-md-6 mb-3">
          <label for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
            <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('phoneNumber').hasError('required')">
              This field is required
            </span>
            <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('phoneNumber').hasError('pattern')">
              Enter valid 10 digit phone number, only enter numbers
            </span>
        </div>
      </div>

      <hr class="mb-4">

      <h4 class="mb-3">Payment</h4>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="cc-number">Credit card number <span class="text-muted">(Visa, Mastercard, American Express, Discover)</span></label>
          <input type="text" class="form-control" id="cc-number" formControlName="cardNumber">
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('cardNumber').hasError('required')">
            This field is required
          </span>
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('cardNumber').hasError('pattern')">
            Enter valid card number, only enter numbers
          </span>
        </div>
        <div class="col-md-6 mb-3">
          <label for="cc-cvc">CVC</label>
          <input type="text" class="form-control" id="cc-cvc" formControlName="cvc">
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('cvc').hasError('required')">
            This field is required
          </span>
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('cvc').hasError('pattern')">
            Enter valid cvc
          </span>
        </div>
      </div>
      <div class="row" formGroupName="expGroup">
        <div class="col-md-6 mb-3">
          <label for="cc-month">Expiration Month</label>
          <input type="text" class="form-control" id="cc-month" formControlName="expMonth">
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('expGroup').get('expMonth').hasError('required')">
            This field is required
          </span>
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('expGroup').get('expMonth').hasError('pattern')">
            Enter valid month: 01, 02, 03... 12
          </span>
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('expGroup').hasError('expired')">
            The card is expired
          </span>
        </div>
        <div class="col-md-6 mb-3">
          <label for="cc-year">Expiration Year</label>
          <input type="text" class="form-control" id="cc-year" formControlName="expYear">
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('expGroup').get('expYear').hasError('required')">
            This field is required
          </span>
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('expGroup').get('expYear').hasError('pattern')">
            Enter valid four digit year
          </span>
          <span class="validator-message" *ngIf="contactInfoAndPaymentForm.get('expGroup').hasError('expired')">
            The card is expired
          </span>
        </div>
      </div>
      <hr class="mb-4">
      <span class="d-flex justify-content-center">
        <button class="btn btn-danger btn-lg left-button" type="submit" (click)="cancelAndCleanUp()">Cancel</button>
        <button class="btn btn-primary btn-lg right-button" type="submit" (click)="sendData()" [disabled]="!contactInfoAndPaymentForm.valid">Continue</button>
      </span>
    </form>
  </div>
</div>
