

  <div class="row justify-content-center">
      <div>
        <img src="../../assets/images/146208lrg.jpg" class="imgSizeCtrlForCk" />
        <h4 class="textSizeCtrlForCk divForText">COOKIES</h4>
        <p class="textSizeCtrlForCk divForText">Chocloate Chip, Double Choclate Chip, White Macadamia</p>
      </div>

      <div>
        <img src="../../assets/images/coconut-flour-brownies-2.jpg" class="imgSizeCtrlForBr" />
        <h4 class="textSizeCtrlForBr divForText">BROWNIES</h4>
        <p class="textSizeCtrlForBr divForText">Chocolate, Blonde</p>
      </div>


    </div>


