<pizza-modal></pizza-modal>
<table class="order-details">
  <thead>
    <th style="padding: 5px 5px 5px 5px;">
      <h3 style="font-size: 14px; font-weight: 700; margin: 0;">Order Details</h3>
    </th>
    <th style="text-align: right; padding: 5px 5px 5px 5px;">
      <h3 style="font-size: 14px; font-weight: 700; margin: 0;">Amount</h3>
    </th>
  </thead>
  <tbody>
    <div *ngFor="let pizzaItem of pizzaItems" style="width: 767px;">
      <tr>
        <td *ngIf="pizzaItem.type=='BUILD YOUR OWN PIZZA'" class="product-name">{{ pizzaItem.quantity }} x {{ pizzaItem.type }}</td>
        <td *ngIf="pizzaItem.type!='BUILD YOUR OWN PIZZA'" class="product-name">{{ pizzaItem.quantity }} x {{ pizzaItem.type }}</td>
        <td class="product-price">{{ pizzaItem.quantity }} x ${{ pizzaItem.price }}</td>
      </tr>
      <tr>
        <p>
            {{ pizzaModalComponent.buildDisplayForCart(pizzaItem) }}
        </p>
      </tr>
    </div>

    <!-- <tr *ngFor="let oneCheese of pizzaItem.cheese">
        <td>{{ oneCheese.name }}</td>
      </tr>
      <tr *ngFor="let veggie of pizzaItem.veggies">
        <td>{{ veggie.name }}</td>
      </tr>
      <tr *ngFor="let meat of pizzaItem.meats">
        <td>{{ meat.name }}</td>
      </tr>
      <tr *ngFor="let finish of pizzaItem.finishes">
        <td>{{ finish.name }}</td> -->
    <!-- </tr> -->

    <!-- <span class="cart-item-price">${{ priceTimesQuantity(pizzaItem.quantity, pizzaItem.price) }}</span> -->
    <!-- <td>
          {{ pizzaModalComponent.buildDisplayForCart(pizzaItem) }}
        </td> -->

  </tbody>
</table>







<!-- <form [formGroup]="creditCardForm" style="width: 50%; margin-left: auto; margin-right: auto;">
  <input type="text" placeholder="Credit Card #" formControlName="cardNumber">
  <input type="text" placeholder="Expiration Month" formControlName="expMonth">
  <input type="text" placeholder="Expiration Year" formControlName="expYear">
  <input type="text" placeholder="CVC" formControlName="cvc">
  <button (click)="chargeCreditCard()">Submit</button>
</form> -->
