<pizza-modal></pizza-modal>
<salad-modal></salad-modal>
<drink-modal></drink-modal>
<dessert-modal></dessert-modal>
<div class="hide-order-online">
  <order-online></order-online>
  <current-order></current-order>
</div>

<span *ngIf="loading" class="page-text">
  <h1>
    Your order is being processed...
  </h1>
  <h3 class="subheader">
    Please do not press the refresh or back button
  </h3>
</span>






<div *ngIf="!loading" class="container pickup-location">
  <div class="checkout-header">Checkout</div>
  <div class="checkout-subheader">Pickup Location</div>
  <div class="row checkout-row-1">
    <div class="col">
      <span *ngIf="pickupLocation=='Midtown'">
        Campania Pizza, Midtown<br>
        31 W 46th St<br>
        New York, NY 10036
      </span>
      <span *ngIf="pickupLocation=='Chelsea'">
        Campania Pizza, Chelsea<br>
        601 6th Ave<br>
        New York, NY 10011
      </span>
      <span *ngIf="pickupLocation=='East Village'">
        Campania Pizza, East Village<br>
        32 St Marks Pl<br>
        New York, NY 10003
      </span>
    </div>
    <div class="col checkout-row-1-col-2">
      <a class="btn btn-outline-secondary" href="#" [routerLink]="['/order-online']" role="button">Modify Order</a>
    </div>
  </div>
</div>

  <div *ngIf="!loading" class="container box-form">
    <div class="row">
      <div class="col name-column">
        Order Details
      </div>
      <div class="col price-column">
        Amount
      </div>
    </div>
    <!-- <div *ngFor="let pizzaItem of pizzaModalComponent.pizzaItems"> -->
    <div *ngFor="let pizzaItem of pizzaItems">
      <div class="row product-line">
        <div *ngIf="pizzaItem.type=='BUILD YOUR OWN PIZZA'" class="col product-name">{{ pizzaItem.quantity }} x
          {{ pizzaItem.type }}</div>
        <div *ngIf="pizzaItem.type!='BUILD YOUR OWN PIZZA'" class="col product-name">{{ pizzaItem.quantity }} x
          {{ pizzaItem.type }}</div>
        <div class="col product-price">({{ pizzaItem.quantity }} x ${{ pizzaItem.price }}) =
          ${{ (pizzaItem.quantity * pizzaItem.price).toFixed(2) }}</div>
      </div>
      <div *ngFor="let choice of pizzaModalComponent.buildDisplayForCheckout(pizzaItem)">
        <div class="row">
          <div class="col choice">
            {{ choice }}
          </div>
        </div>
      </div>
    </div>

    <div *ngFor="let saladItem of saladItems">
      <!-- <div *ngFor="let saladItem of saladModalComponent.saladItems"> -->
      <div class="row product-line">
        <div *ngIf="saladItem.type=='BUILD YOUR OWN SALAD'" class="col product-name">{{ saladItem.quantity }} x
          {{ saladItem.type }}</div>
        <div *ngIf="saladItem.type!='BUILD YOUR OWN SALAD'" class="col product-name">{{ saladItem.quantity }} x
          {{ saladItem.type }}</div>
        <div class="col product-price">({{ saladItem.quantity }} x ${{ saladItem.price }}) =
          ${{ (saladItem.quantity * saladItem.price).toFixed(2) }}</div>
      </div>
      <div *ngFor="let choice of saladModalComponent.buildDisplayForCheckout(saladItem)">
        <div class="row">
          <div class="col choice">
            {{ choice }}
          </div>
        </div>
      </div>
    </div>

    <div *ngFor="let drinkItem of drinkItems">
      <!-- <div *ngFor="let drinkItem of drinkModalComponent.drinkItems"> -->
      <div class="row product-line-dd">
        <div class="col product-name">{{ drinkItem.quantity }} x {{ drinkItem.type }}</div>
        <div class="col product-price">({{ drinkItem.quantity }} x ${{ drinkItem.price }}) =
          ${{ (drinkItem.quantity * drinkItem.price).toFixed(2) }}</div>
      </div>
    </div>

    <div *ngFor="let dessertItem of dessertItems">
      <!-- <div *ngFor="let dessertItem of dessertModalComponent.dessertItems"> -->
      <div class="row product-line-dd">
        <div *ngIf="dessertItem.type=='Cookies'" class="col product-name">{{ dessertItem.quantity }} x
          {{ dessertItem.cookieChoice.toUpperCase() }}
        </div>
        <div *ngIf="dessertItem.type=='Brownies'" class="col product-name">{{ dessertItem.quantity }} x
          {{ dessertItem.brownieChoice.toUpperCase() }}</div>
        <div class="col product-price">({{ dessertItem.quantity }} x ${{ dessertItem.price }}) =
          ${{ (dessertItem.quantity * dessertItem.price).toFixed(2) }}</div>
      </div>
    </div>

    <div class="row subtotal-above">
      <div class="col product-name">
        Subtotal
      </div>
      <div class="col product-price">
        ${{ currentOrderComponent.showSubtotal() }}
      </div>
    </div>
    <div class="row">
      <div class="col product-name">
        TAX
      </div>
      <div class="col product-price">
        ${{ currentOrderComponent.showLocalTax() }}
      </div>
    </div>
    <div class="row total-row">
      <div class="col product-name">
        Total
      </div>
      <div class="col product-price">
        ${{ currentOrderComponent.showTotal() }}
      </div>
    </div>
  </div>






<div *ngIf="!loading" class="container">
  <div class="mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Contact Info</span>
      <span class="badge badge-secondary badge-pill previous-page" (click)="backToContactInfoAndPayment()">edit</span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <span *ngIf="contactInfoAndPaymentData != null">
          {{ contactInfoAndPaymentData['firstName'] }} {{ contactInfoAndPaymentData['lastName'] }}<br>
          {{ formatPhoneNumber(contactInfoAndPaymentData['phoneNumber']) }}<br>
          {{ contactInfoAndPaymentData['email'] }}
        </span>
      </li>
    </ul>
  </div>

  <div class="mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Credit Card Info</span>
      <span class="badge badge-secondary badge-pill previous-page" (click)="backToContactInfoAndPayment()">edit</span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <span *ngIf="contactInfoAndPaymentData != null">
          {{ getCreditCardType(contactInfoAndPaymentData['cardNumber']) }}<br>
          {{ showOnlyLastFourNumbers(contactInfoAndPaymentData['cardNumber']) }}
        </span>
      </li>
    </ul>
  </div>



  <span class="d-flex justify-content-center" *ngIf="contactInfoAndPaymentData != null">
    <!-- (click)="sendInfo()" [disabled]="!shippingAndPaymentForm.valid" -->
    <button class="btn btn-danger btn-lg left-button" type="submit" (click)="cancelAndCleanUp()">Cancel</button>
    <button class="btn btn-primary btn-lg right-button" type="submit"
    [disabled]="contactInfoAndPaymentData['cardNumber'] == '' || contactInfoAndPaymentData['firstName'] == '' || currentOrderComponent.showTotal() == 0"
    (click)="chargeCreditCard()">Place Order</button>
  </span>
</div>



