
  <img src="../../assets/images/5bf4bab440d3b.image.jpg" style="display: block;
  margin-left: auto;
  margin-right: auto;">

<h1 class="textInByo">BUILD YOUR OWN NEAPOLITAN PIZZA</h1>
<p class="textInByo">
  Build your own Neapolitan pizza with our extensive selection of the highest
  quality ingredients available, including fresh artisan-made cheeses,
  imported meats, over 12 fresh veggies and more. Choose any toppings on our
  regular 10-inch pizza or build your own 14-inch pizza to share!
</p>

<h4 class="textInByo">MEATS</h4>
<p class="textInByo">
  Bacon • Crumbled Meatballs • Grilled Chicken • Italian Sausage • Pepperoni •
  Canadian Bacon • Steak
</p>

<h4 class="textInByo">VEGGIES</h4>
<p class="textInByo">
  Bell Peppers • Black Olives • Fresh Tomatoes • Chopped Garlic • Fresh Basil
  • Jalapenos • Pineapple • Red Onions • Red Peppers • Broccoli • Mushrooms •
  Sun-Dried Tomatoes • Kalamata Olives • Spinach • Banana Peppers
</p>
<h4 class="textInByo">CHEESES</h4>
<p class="textInByo">
  Fresh Mozzarella • Shredded Mozzarella • Parmesan • Ricotta • Blue Cheese
  Crumble • Asiago • Mac & Cheese • Feta
</p>

<h4 class="textInByo">SAUCES</h4>
<p class="textInByo">
  Signature Marinara • Spicy Sriracha Marinara • Pesto Drizzle • Smokey
  Bourbon BBQ • Extra Virgin Olive Oil Drizzle • Buffalo Sauce • White Sauce •
  Ranch
</p>

<h4 class="textInByo">CRUST OPTIONS</h4>
<p class="textInByo">Traditional Neapolitan (our favorite) • *Gluten Free</p>

<p class="textInByo">
  <em>
    *Our Gluten Free Dough is composed of a 100% Gluten free recipe, we also
    cook Gluten Free Pizzas on their OWN pan, and use a separate gluten free
    only pizza cutter to slice them. Patrons who are extremely gluten
    sensitive should still use caution until they have tried our Gluten free
    pizza.
  </em>
</p>
