

  <div class="row justify-content-center">
    <div>
      <img src="../../assets/images/lead-wine-beer.jpg" class="imgSizeCtrlForBw" />
      <h4 class="textSizeCtrlForBw divForText">BEER & WINE</h4>
      <p class="textSizeCtrlForBw divForText">Subject to availability</p>
    </div>

    <div>
      <img src="../../assets/images/fdrink-min.jpg" class="imgSizeCtrlForFd" />
      <h4 class="textSizeCtrl divForText">FOUNTAIN DRINKS</h4>
      <p class="textSizeCtrl divForText">Coke, Diet Coke, Coke Zero, Sprite, Diet Sprite, Fanta, Diet Fanta</p>
    </div>

    <div>
        <img src="../../assets/images/sparkling-water-izze-juice.jpg" class="imgSizeCtrlForBi" />
        <h4 class="textSizeCtrlForBi divForText">IZZE GLASS BOTTLES</h4>
        <p class="textSizeCtrlForBi divForText">Clementine, Apple, Grapefruit, Pomegranate, Blackberry, Peach, Blueberry</p>
      </div>
  </div>

  <div class="row justify-content-center">
    <div>
      <img src="../../assets/images/resized-ew_1l_vert_onwhite_color_fulllabel_digital_t118.jpg" class="imgSizeCtrlForEs" />
      <img src="../../assets/images/61Tsj5t3WBL._SY679_.jpg" class="imgSizeCtrlForFi" />
      <img src="../../assets/images/GUEST_7db1e08d-98cb-4623-8cbc-f47e61e064b7.jpeg" class="imgSizeCtrlForAq" />
      <h4 class="divForText">BOTTLED WATER</h4>
      <p class="divForText">Essentia, Fiji, Aquafina</p>
    </div>
  </div>

