.linkColor {
  color: black;
}

.subNavbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.clicked-link {
  border-bottom: 5px solid red;
}

.submenu-button-tweak {
  margin-left: 10px;
  margin-right: 10px;
}
