.linkColor {
  color: black;
}

/* .justify-content-center li {
  padding-top: 5px;
  border-bottom: 5px solid transparent;
}

.justify-content-center li:hover {
  border-bottom-color: red;
} */

.subNavbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.clicked-link {
  border-bottom: 5px solid red;
}

.submenu-button-tweak {
  margin-left: 10px;
  margin-right: 10px;
}
