<div class="container">
  <ul class="nav justify-content-center subNavbar">
    <li class="nav-item submenu-button-tweak">
      <a class="nav-link linkColor " href="#" [routerLink]="['/menu/buildyourown']" routerLinkActive="clicked-link">Build Your Own</a>
    </li>
    <li class="nav-item submenu-button-tweak">
      <a class="nav-link linkColor" href="#" [routerLink]="['/menu/specialtypizzas']" routerLinkActive="clicked-link">Specialty Pizzas</a>
    </li>
    <li class="nav-item submenu-button-tweak">
      <a class="nav-link linkColor" href="#" [routerLink]="['/menu/salads']" routerLinkActive="clicked-link">Salads</a>
    </li>
    <li class="nav-item submenu-button-tweak">
      <a class="nav-link linkColor" href="#" [routerLink]="['/menu/drinks']" routerLinkActive="clicked-link">Drinks</a>
    </li>
    <li class="nav-item submenu-button-tweak">
      <a class="nav-link linkColor" href="#" [routerLink]="['/menu/desserts']" routerLinkActive="clicked-link">Desserts</a>
    </li>
  </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>
